<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Urbán Csilla - Felmérések</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/menu.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <%- include('header', { current_page: 'article' }) %>
    </header>
    <main>
      <h1>Felmérések</h1>
      <% for (var i=0; i < articles.length; i++) { %>
        <div class="article">
          <div class="article-name">
            <h3>
              <%= articles[i].article_name %>
            </h3>
          </div>
          <div class="article-content">
            <p>
              <%= articles[i].article_content %>
            </p>
          </div>
          <div class="article-date">
            <% 
            const date = new Date(articles[i].article_date);
            const formattedDate = `${date.getFullYear()}.${(date.getMonth() + 1).toString().padStart(2, '0')}.${date.getDate().toString().padStart(2, '0')}.`;
          %>
          <%= formattedDate %>
          </div>
        </div>
        <% } %>
    </main>
    <footer>
      <%- include('footer'); %>
    </footer>
  </body>

  </html>